html,


body {
  overflow-x: hidden !important;
  overflow: inherit;
  max-width: 100%;
  width: 100%;
  position: relative !important;
  background-color: black;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  border: 1px solid inherit;
  padding: 1%;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* .body {
  background-color: black;

} */

.head {
  color: white;
  display: flex;
  justify-content: center;
  font-family: "Homemade Apple", cursive;
  font-family: "Rock Salt", cursive;
  font-size: 8rem;
  font-weight: 700;
  padding-top: 3rem;
  margin-right: 2.5rem;
  margin-left: 2.5rem;
}

#dog {
  align-content: space-between;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  padding-top: 20px;
  max-height: 22rem;
  min-width: 20rem;
  min-height: 20rem;
}

/*     BUTTONS     */

#buttons {
  margin-top: 4rem;
  padding-bottom: 2rem;
  justify-content: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#chaz {
  color: rgb(90, 245, 90);
  font-weight: 700;
  background: linear-gradient(-45deg, #23d5ab, #23a6d5, #e73c7e, #ee7752);
  background-size: 400% 400%;
  animation: gradient 2.25s ease infinite;
  box-shadow: 5px 3px 18px white;
}

#inspiration {
  color: black;
  font-weight: 700;
  background: linear-gradient(-45deg, #ee7752, #23a6d5, #e73c7e,  #23d5ab);
  background-size: 400% 400%;
  animation: gradient 2.5s ease infinite;
  margin-left: 2rem !important;
  box-shadow: 5px 3px 18px white;
}

#kanye-button {
  color: yellow;
  font-weight: 700;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 2.75s ease infinite;
  box-shadow: 5px 3px 18px white;
}

#dog-button {
  color: white;
  font-weight: 700;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 2.87s ease infinite;
  box-shadow: 5px 3px 18px white;
}

#quoteBubble {
  background-color: rgb(40, 41, 41);
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 1rem;
  box-shadow: 10px 5px 15px 10px gray inset;
}

.quote {
  justify-content: center;
  display: block;
  margin-left: 4rem;
  margin-right: 4rem;
  color: white;
  font-weight: 700;
  font-family: "Amatic SC", "Caveat", cursive;
  text-shadow: 5px 5px 5px black;
}

.name {
  color: white;
  font-family: "Caveat", fantasy;
  justify-content: center;
  font-weight: 700 !important;
  text-shadow: 5px 5px 5px black;
}

#chazBubble {
  background-color: red;
  /* margin-top: 2rem; */
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 15px 10px rgb(90, 56, 56);
}

.chaz {
  justify-content: center;
  display: block;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-top: 0.5rem;
  color: black;
  font-size: 2rem;
  font-family: monospace;
  text-shadow: 5px 3px 5px gray;
}

#kanye-quote {
  background-color: rgb(241, 255, 47);
  color: black;
  font-size: 2rem;
  font-family: "Amatic SC", "Caveat", cursive;
  font-weight: 800;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 1rem;
  box-shadow: 3px 5px 15px 10px grey;
  text-shadow: 5px 5px 5px gray;
}

.kanye-name {
  color: white !important ;
  border-radius: 1rem;
  background-color: rgb(241, 255, 47);
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: 10px 5px 15px 10px gray;
  text-shadow: 5px 5px 5px rgb(49, 49, 49);
}

.kanye {
  justify-content: center;
  display: block;
  margin-left: 5rem;
  margin-right: 5rem;
  color: yellow;
  opacity: 1;
  box-shadow: 5px 3px 18px;
  box-shadow: 10px 5px 15px 10px gray;
}

/* RESPONSEVE DESIGN*/
/* 320 - 812 px */
@media only screen and (min-device-width: 320px) and (max-device-width: 812px) {
  #dog {
    max-height: 20rem !important;
  }
  .head {
    padding-top: 1rem;
    font-size: 1.5rem;
  }
  .name {
    font-size: 1.5rem;
    font-weight: 200;
  }
}

/* iPhone 5 */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .head {
    padding-top: 2rem;
    margin-left: 1.8rem;
    font-size: 1.5rem;
  }

  #dog {
    max-width: 18rem;
  }

  .kanye {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
    font-size: 1rem;
  }

  .quote {
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 0.8rem;
    font-size: 2rem;
    color: white;
  }
}

/* iPhone 6/7/8 */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .head {
    padding-top: 2rem;
    margin-left: 2.5rem;
    font-size: 2.8rem;
  }

  #dog {
    max-width: 22rem !important;
    max-height: 30rem;
  }

  .kanye {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
    font-size: 1rem;
  }

  .quote {
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 0.8rem;
    font-size: 2.4rem;
  }
}

/* iPhone 6/7/8 Plus */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  .head {
    padding-top: 2rem;
    font-size: 2rem;
  }

  #dog {
    max-width: 25rem;
  }

  .kanye {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
    font-size: 1.6rem;
  }

  .quote {
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 0.8rem;
    font-size: 2.4rem;
  }

  .name {
    font-size: 2rem;
  }
}

/* iPhone 10 */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .head {
    padding-top: 2rem;
    margin-left: 2.5rem;
    font-size: 2.4rem;
  }

  #dog {
    max-width: 25rem;
  }

  .kanye {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
    font-size: 1rem;
  }

  .quote {
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 0.8rem;
    font-size: 2rem;
  }
}
